
{% extends 'AppUsers/User/login.html' %}
{% load static %}
{% block titulo%}Olvido de contraseña{% endblock titulo%}
{% block titulo2%}Ingresa tu usuario para enviarte un correo y puedas cambiar tu contraseña.{% endblock titulo2%}
{% block formulario %}
{% csrf_token %}

<div class="col-12">
    <label for="yourUsername" class="form-label text-black" >Usuario:</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-person-fill"></i></span>
      <input autofocus type="text" name="username" class="form-control" id="yourUsername" autocomplete='off' required>
      <div class="invalid-feedback">Por favor ingrese su usuario.</div>
    </div>
  </div>
      <div class="col-12">
        <button class="btn bg-black text-white w-100" type="submit">Recuperar</button>
      </div>


{% endblock formulario %}
{% block js %}
<script>
{% if form.errors %}
      // Crear una lista para almacenar los mensajes de error
      var errorMessages = [];

      {% for field in form %}
      {% for error in field.errors %}
          // Agregar cada mensaje de error junto con el nombre del campo a la lista
          errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
      {% endfor %}
  {% endfor %}
  // Comprobar si hay mensajes de error
  if (errorMessages.length > 0) {
    // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-primary',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
    swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Datos incorrectos en los siguientes campos:',
        html: errorMessages.join('<br>'),
    });
}

{% endif %}

</script>
  {% endblock js %}