{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-12 d-flex flex-row-reverse ">
            <a href="#" class="btn btn-outline-dark" id="ayuda" onclick="tour ()">
              <b><i class="bi bi-info-circle"></i> Ayuda</b>
            </a>
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <p class="mt-0" id='indicaciones'>Los campo con (<span class="text-danger">*</span>) son campos obligatorios.</p> 
            <div class="card">
              <div class="card-body">
                <h5 class="card-title  text-warning"><i class="bi bi-pencil-square"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
                  {% csrf_token %}
                  
                  {% for field in form.visible_fields %}
                        
                  {% if  field.label == 'Logo'%}
                    <div class="col-md-12">     
                      <div class="form-floating" id="{{field.name}}">
                        <input type="file" name="logo" accept="image/*" id="id_img" class='form-control' value="{{obj.img.url}}">
                        <label for="floatingName">Logo</label>
                      </div>
                    </div>
                    <div class="col-md-12">     
                      <div class="form-floating" id="{{field.name}}">
                        <img src="{{object.get_image}}" class="img-fluid d-block mx-auto" style="width: 100px; height:100px; border-radius: 20px;">
                        <label for="floatingName" class="text-white" {% if field.field.required %}<span class="text-danger"> *</span>{% endif %}>Logo actual:</label>
                      </div>
                    </div>
                  {% else %}
                    
                    
                      <div class="col-md-{% if field.label == 'Tarifa' or field.label == 'Telefono'  %}6{% else %}12{% endif %}"> 
                          
                        <div class="form-floating" id="{{field.name}}">
                          {{ field }}
                          <label for="floatingName" autofocus>{{field.label}}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}</label>
                        </div>
                      </div>
                  {% endif %}
                  {% endfor %}
                  
                      
                  <div class="text-center">
                    <button type="submit" id="guardar" class="btn bg-warning text-black">Guardar</button>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>

      {% endblock cuerpo %}
      {% block js %}
      <script>
        function eliminarProducto(id){
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          
          swalWithBootstrapButtons.fire({
            title: 'Seguro que lo desea eliminar?',
            text: "Esta accion no se puede revertir!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Confirmar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
              
              swalWithBootstrapButtons.fire(
                'Borrado!',
                'Producto eliminado con exito.',
                'success'
              )
              
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelado',
                'El producto no se ha eliminado  :)',
                'error'
              )
            }
          })
        }
        //Codigo para autocompletar SELECT
        $(document).ready(function() {
          $('#selectPro').select2({
            theme: "bootstrap-5",
            placeholder:"Seleccione una categoria",
            selectOnClose: true,
        });
        });


        const driver = window.driver.js.driver;

        function tour() {
          const driverObj = driver({
            popoverClass: 'driverjs-theme',
            nextBtnText: 'Siguiente',
            prevBtnText: 'Anterior',
            doneBtnText: 'Completado',
            showButtons: ['next', 'previous', 'done'],
            steps: [
              { popover: { title: '¡Hola! 😊', description: 'Comenzarás un tour guiado para explicarte lo que puedes hacer en esta sección y aclarar todas tus dudas.' } },
              { element: '#indicaciones', popover: { title: 'Indicaciones', description: 'Los campos con (*) son campos que no pueden ir vacíos. Sigue las indicaciones al pie de la letra 😊.', side: "left", align: 'start' }},
              { element: '#nombre', popover: { title: 'Nombre 👨🏻', description: 'En este campo debe ingresar el nombre de la empresa si desea cambiarlo .', side: "bottom", align: 'start' }},
              { element: '#logo', popover: { title: 'Logo 📧', description: 'En este campo debe subir la imagen o logo de la empresa .', side: "left", align: 'start' }},
              { element: '#tarifa', popover: { title: 'Tarifa 👨🏻', description: 'En este campo debe ingresar la tarifa que va a tener la empresa.', side: "bottom", align: 'start' }},
              { element: '#telefono', popover: { title: 'Telefono', description: 'Aquí debe digitar el numero con el que puedan contactar a la empresa.', side: "top", align: 'start' }},
              { element: '#direcccion', popover: { title: 'Direccion', description: 'Aquí se debe ingresar la direccion donde esta ubicada la empresa', side: "right", align: 'start' }},  
              { element: '#guardar', popover: { title: 'Guardar 💾', description: 'Al dar click en guardar se registran los datos.', side: "right", align: 'start' }},
              { popover: { title: '¡Fin del tour! 😁', description: 'Eso ha sido todo lo que puedes hacer en esta sección, si tienes más dudas puedes ver el tour las veces que gustes.' } }
            ]
          });


  // Iniciar el tour
  driverObj.drive();
}
      </script>


      
      {% endblock js %}
      