{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-12 d-flex">
        
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-pencil-square"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
                  {% csrf_token %}
                  
                  {% for field in form.visible_fields %}
                  
                  
                 
                  {% if  field.label == 'Logo'%}
                    <div class="col-md-12">     
                      <div class="form-floating">
                        <input type="file" name="img" accept="image/*" id="id_img" class='form-control' value="{{obj.img.url}}">
                        <label for="floatingName">Logo</label>
                      </div>
                    </div>
                    <div class="col-md-12">     
                      <div class="form-floating">
                        <img src="{{object.get_image}}" class="img-fluid d-block mx-auto" style="width: 100px; height:100px; border-radius: 20px;">
                        <label for="floatingName" class="text-white">Logo actual:</label>
                      </div>
                    </div>
                  {% else %}
                    
                    
                      <div class="col-md-{% if field.label == 'Tarifa' or field.label == 'Telefono'  %}6{% else %}12{% endif %}"> 
                          
                        <div class="form-floating">
                          {{ field }}
                          <label for="floatingName" autofocus>{{field.label}}</label>
                        </div>
                      </div>
                  {% endif %}
                  {% endfor %}
                  
                  
                  <div class="text-center">
                    <button type="submit" class="btn bg-warning text-black">Guardar</button>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>

      {% endblock cuerpo %}
      {% block js %}
      <script>
        function eliminarProducto(id){
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          
          swalWithBootstrapButtons.fire({
            title: 'Seguro que lo desea eliminar?',
            text: "Esta accion no se puede revertir!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Confirmar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
              
              swalWithBootstrapButtons.fire(
                'Borrado!',
                'Producto eliminado con exito.',
                'success'
              )
              
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelado',
                'El producto no se ha eliminado  :)',
                'error'
              )
            }
          })
        }
        //Codigo para autocompletar SELECT
        $(document).ready(function() {
          $('#selectPro').select2({
            theme: "bootstrap-5",
            placeholder:"Seleccione una categoria",
            selectOnClose: true,
        });
        });
      </script>
      {% endblock js %}
      