{% extends 'layout/userUI/index.html' %} 
{% load static %} 
{% load custom_filters %}
{% block titulo %}{{titulo}} {% endblock titulo %} {% block lib %}
{% include "AppControlDeClientes/Dietas/components/style.html" %}
{% endblock lib %} {% block linkModulo %}
<li><a href="{% url 'dietas' %}">{{modulo}}</a></li>
{% endblock linkModulo %} {% block contenido %}

<!-- ======= Contact Section ======= -->
<div class="modal fade" id="guardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-black" id="exampleModalLabel">Guardar dieta</h5>
        <button type="button" class="close bg-warning" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        
        <form method="post" enctype="multipart/form-data" id='guardar'>
          {% csrf_token %}
          <input type="hidden" name="action" value="guardar">
          <input type="hidden" name="idDieta" value="" id='idDieta'>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Día:</label>
            <select class="form-select" name='dia'>
              <option value='1'>Lunes</option>
              <option value='2'>Martes</option>
              <option value='3'>Miercoles</option>
              <option value='4'>Jueves</option>
              <option value='5'>Viernes</option>
              <option value='6'>Sábado</option>
              <option value='7'>Domingo</option>
              </select>
          </div>
       
      </div>
      <div class="modal-footer bg-dark d-flex justify-content-center">
        <button type="submit" class="btn btn-warning">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<section id="contact" class="contact">
    <div class="my-3 mx-3">
        <ul class="nav nav-pills mb-3 mt-3 mx-3 d-flex justify-content-between bg-platinum" id="pills-tab" role="tablist"> <li class="nav-item">
        <a
          class="nav-link active"
          id="pills-home-tab"
          data-toggle="pill"
          href="#pills-home"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
          >Recomendaciones{{name}}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="pills-profile-tab"
          data-toggle="pill"
          href="#pills-profile"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
          >Mis dietas</a
        >
      </li>
    </ul>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-warning">Datos</h3>
        </div>


        <!--INICIO DE FORMULARIO DE RECOMENDACIONES-->
        <form method="post" enctype="multipart/form-data" id='recomendacion'>
          {% csrf_token %}
        <div class="row gy-2 gx-md-3">
          <input type="hidden" name="action" value="recomendaciones">
            <div class="col-6 form-group input-dietas">
              <input type="text" name="altura" class="form-control" id="altura" placeholder="Altura(cm)" required="" autocomplete='none'>
            </div>
            <div class="col-6 form-group input-dietas">
                <select class="form-select" aria-label="Default select example" name='actividad_fisica'>
                    <option selected="">Actividad física</option>
                    <option value="1">Sendetaria</option>
                    <option value="2">Moderada</option>
                    <option value="3">Actividad intensa</option>
                  </select>
            </div>
            <div class="form-group col-6 input-dietas">
                <select class="form-select" aria-label="Default select example" name='objetivo'>
                    <option selected="">Objetivo</option>
                    <option value="1">Perder peso</option>
                    <option value="2">Ganar peso</option>
                  </select>
            </div>
            <div class="col-6 input-dietas"><button type="submit" class='btn btn-outline-warning'>Generar</button></div>
          </div>
        </form>
        <!--FIN DE FORMULARIO DE RECOMENDACIONES-->


    </div>
</div>
      <!--Fin div de recomendacion-->
   
  <!--AQUI SE RENDERIZAN LAS RECOMENDACIONES-->


      <!--Fin div de recomendacion-->
    </div>
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
    <section class="testimonials">
       
        <!--Inicio de carrusel de cartas-->
        {% for dieta, comidas in dietas_y_comidas_del_miembro.items %}
        <div class="section-dietas mx-1"><div class="container-dieta"><div class="d-flex justify-content-between"><h3 class="text-warning">{{dieta.get_dia_display}}</h3></div><ul class="cards-dieta">
          {% for comida in comidas %}
          <li class="card-dieta">
          
          <div>
              <h3 class="card-dieta-title">
                  <img src="{% get_comida_image comida.tiempo %}" alt="4" class="icon-image img-fluid">
                  {{ comida.get_tiempo_display }}
              </h3>
              <div class="card-dieta-content">
                  <p>{{comida.detalle}}</p><br>
              </div>
          </div>
          
          
      </li>
      {% endfor %}
    </ul></div></div>
       <!--Inicio de carrusel de cartas-->
       {% endfor %}
      </section>
    </div>
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
    >
      ...
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock contenido %} {% block js %}
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script>
  {% if form.errors %}
      // Crear una lista para almacenar los mensajes de error
      var errorMessages = [];

      {% for field in form %}
      {% for error in field.errors %}
          // Agregar cada mensaje de error junto con el nombre del campo a la lista
          errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
      {% endfor %}
  {% endfor %}

      // Comprobar si hay mensajes de error
      if (errorMessages.length > 0) {
          // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-warning',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          swalWithBootstrapButtons.fire({
              icon: 'error',
              title: 'Datos incorrectos en los siguientes campos:',
              html: errorMessages.join('<br>'),
          });
      }

  {% endif %}
    // Detener la reproducción automática del carrusel
    $('.carousel').carousel({ interval: false, });
</script>
<!-- Agrega esto en tu template -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const formulario = document.getElementById('recomendacion');

      formulario.addEventListener('submit', async function (e) {
          e.preventDefault(); // Evita la recarga de la página

          // Recopila los datos del formulario
          const formData = new FormData(formulario);

          try {
              // Realiza una solicitud Fetch utilizando async/await
              const response = await fetch("{% url 'dietas' %}", {
                  method: 'POST',
                  body: formData
              });

              // Parsea la respuesta como JSON
              const data = await response.json();
              console.log(data)
              // Actualiza el contenido de tu página según la respuesta del servidor
              if (data.success && data.dietas) {
                const parentElement = document.getElementById('pills-home');

                // Eliminar elementos con la clase "section-dietas"
            const elementosEliminar = parentElement.querySelectorAll('.section-dietas');
            elementosEliminar.forEach(elemento => elemento.remove());
            function getImagenUrl(tipo) {
              // Define la lógica para obtener la URL de la imagen según el tipo de comida
              switch (tipo) {
                  case 2:
                      return '{% static "assets/img/dietas/hora-de-comer.png" %}';
                  case 4:
                      return '{% static "assets/img/dietas/pollo.png" %}';
                  case 6:
                      return '{% static "assets/img/dietas/cena.png" %}';
                  default:
                      return '{% static "assets/img/dietas/rotura.png" %}';
              }
          }
          function getTiempo(tipo) {
            // Define la lógica para obtener la URL de la imagen según el tipo de comida
            switch (tipo) {
                case 1:
                    return 'Merienda';
                case 2:
                    return 'Desayuno';
                case 3:
                    return 'Refrigerio de media mañana';
                case 4:
                    return 'Almuerzo';
                case 5:
                    return 'Refrigerio de media tarde';
                case 6:
                    return 'Cena';
                case 7:
                    return 'Refrigerio de noche';

                default:
                    return '{% static "assets/img/dietas/rotura.png" %}';
            }
        }       
                data.dietas.forEach(dieta => {
                    const sectionDieta = document.createElement('div');
                    sectionDieta.classList.add('section-dietas', 'mx-1');

                    const containerDieta = document.createElement('div');
                    containerDieta.classList.add('container-dieta');

                    const dFlexElement = document.createElement('div');
                    dFlexElement.classList.add('d-flex', 'justify-content-between');

                    const tituloElement = document.createElement('h3');
                    tituloElement.classList.add('text-warning');
                    tituloElement.textContent = dieta.nombre;

                    const inputID = document.createElement('input');
                    inputID.type = 'hidden';  // Establecer el tipo de entrada como oculto
                    inputID.value = dieta.id;  // Asignar el valor deseado


                    const guardarBtn = document.createElement('button');
                    guardarBtn.setAttribute('data-toggle', 'modal')
                    guardarBtn.setAttribute('data-target', '#guardar');
                    guardarBtn.classList.add('btn', 'btn-warning');
                    guardarBtn.innerHTML = '<i class="bi bi-bookmark-plus"></i> Guardar';
                    // Obtener referencia al segundo input

    // Obtener referencia al segundo input
    const inputIDdieta = document.getElementById('idDieta');

 
    // Asignar el evento de clic al botón (fuera del bloque anterior)
    guardarBtn.addEventListener('click', function() {
        // Obtener el valor del primer input
        const valorInput = inputID.value;

        // Asignar el valor al segundo input
        inputIDdieta.value = valorInput;

        // Hacer algo más con el valor si es necesario
        console.log('Valor asignado a inputIDdieta:', inputIDdieta.value);
    });
                    dFlexElement.appendChild(tituloElement);
                    dFlexElement.appendChild(inputID);
                    dFlexElement.appendChild(guardarBtn);

                    containerDieta.appendChild(dFlexElement);

                    const cardsDieta = document.createElement('ul');
                    cardsDieta.classList.add('cards-dieta');

                    dieta.comidas.forEach(comida => {
                        const cardDieta = document.createElement('li');
                        cardDieta.classList.add('card-dieta');

                        const contenido = `
                            <div>
                                <h3 class="card-dieta-title">
                                    <img src="${getImagenUrl(comida.tiempo)}" alt="${(comida.tiempo)}" class="icon-image img-fluid" />
                                    ${getTiempo(comida.tiempo)}
                                </h3>
                                <div class="card-dieta-content">
                                    <p>${comida.detalle}</p><br>
                                </div>
                            </div>
                            
                        `;

                        cardDieta.innerHTML = contenido;
                        cardsDieta.appendChild(cardDieta);
                    });

                    containerDieta.appendChild(cardsDieta);
                    sectionDieta.appendChild(containerDieta);
                    parentElement.appendChild(sectionDieta);
                });
              } else if (data.error) {
                  // Actualiza el contenido de error en tu página
                  
              }
          } catch (error) {
              console.error('Error en la solicitud Fetch:', error);
          }
      });
  });

  
</script>


{% endblock js %}
