{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
  <div class="row">
    <div class="col-lg-12 d-flex">
      <a href="{% url 'lista_compras' %}" class="btn btn-primary">
        <b><i class="bi bi-arrow-left"></i> Regresar</b>
      </a>  
  </div>
  <br>
  <!-- **************************************empieza proveedor ********************************** -->
  {% if proveedor and producto %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">             
        
        <br>
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-warning"><i class="bi bi-plus-lg"></i> {{titulo}}</h5>
          
          <!-- Floating Labels Form -->
          <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {% if  field.label == 'id'%}
              <div class="col-md-12">     
                <div class="form-floating">
                  <input type="file" name="img" accept="image/*" id="id" class='form-control'>
                  <label for="floatingName" autofocus>Foto</label>
                </div>
              </div>

            {% else %}
                <div class="col-md-{% if field.label == 'Precio de venta' or field.label == 'Cantidad mínima'  %}6{% else %}12{% endif %}">
                    
                  <div class="form-floating">
                    {{ field }}
                    <label for="floatingName" autofocus>{{field.label}}</label>
                  </div>
                </div>
            {% endif %}
            {% endfor %}
            
            <div class="text-center">
              <button type="submit" class="btn bg-warning text-black">Guardar</button>
              <a href="#" class="btn btn-secondary">
                 Cancelar
              </a>
            </div>
          </form><!-- End floating Labels Form -->

        </div>
        
      </div>

    </div>
    <div class="col-lg-3"></div>
  {% elif not proveedor and producto %}
  <section class="section error-404  mt-0 d-flex flex-column align-items-center justify-content-center">
    <h2>¡Error, no ha registrado ningun proveedor!</h2>
    <h2>Se debe registrar por lo menos un proveedor antes de registrar una compra</h2>
    <a class="btn" href="#">Registrar proveedor</a> 
    <img src=" {% static 'assets/img/not-found.svg'%}" class="img-fluid" alt="Page Not Found">
  </section>

  {% elif not producto and proveedor %}
  <section class="section error-404  mt-0 d-flex flex-column align-items-center justify-content-center">
    <h2>¡Error, no ha registrado ningun producto!</h2>
    <h2>Se debe registrar por lo menos un producto antes de registrar una compra</h2>
    <a class="btn" href="#">Registrar producto</a> 
    <img src=" {% static 'assets/img/not-found.svg'%}" class="img-fluid" alt="Page Not Found">
  </section>

  {% else %}
  <section class="section error-404  mt-0 d-flex flex-column align-items-center justify-content-center">
    <h2>¡Error, no ha registrado ningun proveedor ni producto!</h2>
    <h2>Se debe registrar por lo menos un proveedor y un producto antes de registrar una compra</h2>
    <a class="btn" href="#">Registrar proveedor</a>
    <a  class="btn mt-3 mb-3" href="{% url 'lista_productos' %}">Registrar producto</a> 
    <img src=" {% static 'assets/img/not-found.svg'%}" class="img-fluid" alt="Page Not Found">
  </section>


  {% endif %}


  </div>
   <!-- **************************************termina proveedor ********************************** -->
</section>



{% endblock cuerpo %}
{% block js %}
<script>
  $(document).ready(function() {
    $('#selectPro').select2({
      theme: "bootstrap-5",
      placeholder:"Seleccione un producto" 
  });
  });
  {% if form.errors %}
      // Crear una lista para almacenar los mensajes de error
      var errorMessages = [];

      {% for field in form %}
      {% for error in field.errors %}
          // Agregar cada mensaje de error junto con el nombre del campo a la lista
          errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
      {% endfor %}
  {% endfor %}

      // Comprobar si hay mensajes de error
      if (errorMessages.length > 0) {
          // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          swalWithBootstrapButtons.fire({
              icon: 'error',
              title: 'Datos incorrectos en los siguientes campos:',
              html: errorMessages.join('<br>'),
          });
      }
 
{% endif %}
</script>



<!--*******************************************empieza proveedor*************************-->


<script>
  $(document).ready(function() {
    $('#selectProve').select2({
      theme: "bootstrap-5",
      placeholder:"Seleccione un proveedor" 
  });
  });
  {% if form.errors %}
      // Crear una lista para almacenar los mensajes de error
      var errorMessages = [];

      {% for field in form %}
      {% for error in field.errors %}
          // Agregar cada mensaje de error junto con el nombre del campo a la lista
          errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
      {% endfor %}
  {% endfor %}

      // Comprobar si hay mensajes de error
      if (errorMessages.length > 0) {
          // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          swalWithBootstrapButtons.fire({
              icon: 'error',
              title: 'Datos incorrectos en los siguientes campos:',
              html: errorMessages.join('<br>'),
          });
      }
 
{% endif %}
</script>



  
{% endblock js %}