{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row d-flex justify-content-center">
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
          <div class="col-lg-12 d-flex flex-row-reverse">
            <a href="#" class="btn btn-outline-dark mx-1" id="ayuda" onclick="tour ()">
              <b><i class="bi bi-info-circle"></i> Ayuda</b>
            </a>     
        </div>
          <br>
          <br>
          <div class="col-xl-4">

            <div class="card" id='backups'>
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <h2 class='text-warning'>Generar copia</h2>
                <form action="{% url 'backup' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-warning' id='generar'>Generar y Descargar Backup</button>
                </form> 
              </div>
            </div>
          </div>
        </div>
        
      </section>
{% endblock cuerpo %}


{% block js %}
<script>
   //------------------Funcion de ayuda---------------------
 const driver = window.driver.js.driver;
 function tour() {
 const driverObj = driver({
   popoverClass: 'driverjs-theme',
   nextBtnText: 'Siguiente',
   prevBtnText: 'Anterior',
   doneBtnText: 'Completado',
   showButtons: [
     'next',
     'previous',
     'done'
   ],
   steps: [
   { popover: { title: '¡Hola! 😊', description: 'Comenzarás un tour guiado para explicarte lo que puedes hacer en esta sección de copia de seguridad y aclarar todas tus dudas.' } },
    
   { element: '#backups', popover: { title: 'Copia de seguridad/Respaldo 💾🔒', description: 'En esta sección se genera una copia de todos los datos del sistema hasta el momento.', side: 'in', align: 'start' }},
   { element: '#generar', popover: { title: 'Generar 🔄🔒', description: 'Al dar click en este botón se genera una copia de seguridad con la fecha y hora en que se creó.', side: 'left', align: 'start' }},
   { popover: { title: '¡Fin del tour! 😁', description: 'Espero que esta presentación sea la que estás buscando. Puedes ver el tour las veces que gustes 😊' }}
   ]

 });
 
 driverObj.drive();
 }
</script>
{% endblock js %}


