{% extends 'layout/userUI/index.html' %}
{% load static %}
{% load custom_filters %}
{% block linkModulo %}
          <li><a href="{% url 'crear_historialmiembro' %}">{{modulo}}</a></li>
          {% endblock linkModulo %}
{% block contenido %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

       

        <div class="row mt-5">


          

          <div class="col-lg-12 mt-5 mt-lg-0">

            <div class="card recent-sales overflow-auto bg-black">
              <div class="card-body table-responsive">
                  <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{ titulo }} de {{user.first_name}}</h5>
                  <hr>
                  <table class="table bg-warning text-white rounded mb-4 custom-table" style="text-align: center" id='data'>
                      <thead class="">
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Peso (kg)</th>
                              <th scope="col">Altura (m)</th>
                              <th scope="col">IMC</th>
                              <th scope="col">Fecha de registro</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Opciones</th>
                          </tr>
                      </thead>

                      <tbody>
                          {% if historialmiembros %}
                          {% for m in historialmiembros %}
                          <tr>
                              <td text-nowrap>{{ forloop.counter }}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">{{ m.peso |floatformat:"-2"|replace_comma}}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">{{ m.altura |floatformat:"-2"|replace_comma}}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">{{ m.imc|floatformat:"-2"|replace_comma}}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">{{ m.fecha_registro }}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">{{ m.descripcion }}</td>
                              <td class="text-nowrap"style="vertical-align: middle;">
                                  <a type="button" class="btn btn-secondary" href="{% url 'actualizar_historialmiembro' m.id %}">
                                      <i class="bi bi-pencil-square"></i>
                                  </a>

                                  <a class="btn btn-danger" href="#" onclick="EliminarHistorialMiembros({{ m.id }})">
                                    <i class="bi bi-trash btnUM"></i>
                                  </a>
                                  
                                  
                              </td>

                              

                          </tr>
                          {% endfor %}
                          {% else %}
                          <td colspan="9" style="text-align: center">
                              <b>No hay datos para mostrar</b>
                          </td>
                          {% endif %}
                      </tbody>
                  </table>
              </div>
          </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



{% endblock contenido %}


{% block js %}

<script>
  function EliminarHistorialMiembros(id){
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-warning',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
    
    swalWithBootstrapButtons.fire({
      title: '¿Seguro que desea eliminar esta bitacora?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Confirmar!',
      cancelButtonText: 'Cancelar!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        
        window.location.href = "EliminarHistorialMiembros/"+id+"/"
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Operacion cancelada',
          'La bitacora no se ha eliminado  :)',
          'error'
        )
      }
    })
  }

</script>

<script>
  const dataTableOptions = {
    //scrollX: "400px",
    lengthChange: false,
    searching: false, // Deshabilita la búsqueda en todas las columnas
    filter:[
      { className: "form-control"},
    ],
    lengthMenu: [5, 10, 15, 20, 100, 200, 500],
    columnDefs: [
        { className: "text-center", targets: [0, 1, 2, 3, 4,5,6] },
        { orderable: false, targets: [6] },
        { searchable: false, targets: [6] },
        //{ width: "5%", targets: [0] }
    ],
    pageLength: 5,
    destroy: true,
    language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "Ningúna membresía  encontrada",
        info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
        infoEmpty: "Ningún usuario encontrado",
        infoFiltered: "(filtrados desde _MAX_ registros totales)",
        search: "",
        loadingRecords: "Cargando...",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        }
    }
};

  {% if historialmiembros %}
  let table = new DataTable('#data', dataTableOptions);
  //remove the default 'Search' text for all DataTable search boxes
  $('[type=search]').each(function () {
    $(this).attr("placeholder", "Buscar...");
    $(this).before('<span class="bi bi-search"></span>');
  });
  {% endif %} 
</script>





{% endblock js %}


