{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="{% url 'listar_maquina' %}">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo2}}   {% endblock tituloS %}
{% block cuerpo %}

<div class="modal fade" id="modalMantenimiento" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-black"><b><i class="bi bi-plus-lg"></i> Enviar a mantenimiento</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-4">
        <!--Formulario de Categoria-->
        <form class="row g-3" method="post" autocomplete='off' id='formAdd'>
          <input type="hidden" name="action" value="add">
          <input type="hidden" name="id" value="add">
          {% csrf_token %}
          <div class="form-floating mb-3 mt-4">
            <input type="date" name="fecha_ini" class="form-control" placeholder="Ingrese la fecha" required="" id="add_fecha_ini">
            <label for="floatingName" autofocus="">Fecha</label>
        </div>
        <div class="form-floating mb-3 mt-4">
          <textarea name="detalle" class="form-control" placeholder="Ingrese los detalles" rows="4" id="descripcion"></textarea>
          <label for="floatingName">Detalles</label>
        </div>
  
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Cerrar</b></button>
        <button type="submit" class="btn btn-primary text-black"><b>Guardar</b></button>
      </div>
  </form>
  
    </div>
  </div>
</div>

<section class="section">
    
        <div class="row">
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
         
          <div class="col-lg-12 d-flex flex-row-reverse">
            <a href="{% url 'listar_baja_maquina'%}" class="btn btn-danger">
              <b><i class="bi bi-trash"></i> Papelera</b>
            </a>
            <a href="{% url 'añadir_maquina' %}" class="btn btn-primary mx-1">
              <b><i class="bi bi-plus-lg"></i> Añadir máquina</b>
            </a>
            
            <br>
        </div>
          <br>
          <br>
          <div class="col-lg-12">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <div class="card">
              
              <div class="card-body"> 
                <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{titulo2}}</h5>
                <hr>
                
                <table class="table bg-black text-white strip rounded mb-4" style="text-align: center" id="data">
                  <thead class="bg-warning text-black">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if maquinas %} {% for m in maquinas %}
                      <tr id="maquina-{{ m.id }}">
                        <td style="vertical-align: middle;">{{forloop.counter}}</td>
                        <td style="vertical-align: middle;">{{ m.nombre }}</td>
                        <td style="vertical-align: middle;">{{ m.descripcion }}</td>
                        <td style="vertical-align: middle;">{{ m.categoriaM }}</td>
                        <td style="vertical-align: middle;">{{ m.estado_maquina }}</td>
                        <td>
                            <img src="{{m.get_image}}" class="img-fluid d-block mx-auto" style="width: 70px; height:70px; border-radius: 20px;">
                        </td>
                        
                        <td style="vertical-align: middle;">
                        
                          
                          <!--Boton que despliega el menu-->
                         
                          <a type="button" class="btn btn-secondary" href="{%url 'editar_maquina' m.id %}">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          
                          
                          <a type="button" class="btn btn-danger" href="#" onclick="eliminarMaquina({{m.id}})">
                              <i class="bi bi-trash btnUM"></i>
                          </a>
                        </td>
                      </tr>
                  
                      {% endfor %} {% else %}
                      <td colspan="9" style="text-align: center">
                        <b>No hay datos para mostrar</b>
                      </td>
                      {% endif %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script type="application/javascript" src="{% static 'assets/js/AppInventario/Maquinaria/listaMaquinaria.js' %}"></script>
<script>
  const dataTableOptions = {
    //scrollX: "400px",
    lengthChange: false,
    filter:[
      { className: "form-control"},
    ],
    lengthMenu: [5, 10, 15, 20, 100, 200, 500],
    columnDefs: [
        { className: "text-center", targets: [0, 1, 2, 3, 4, 5, 6] },
        { orderable: false, targets: [5, 6] },
        { searchable: false, targets: [0,5,6] },
        //{ width: "5%", targets: [0] }
    ],
    pageLength: 3,
    destroy: true,
    language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "Ninguna máquina encontrada",
        info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
        infoEmpty: "Ningún usuario encontrado",
        infoFiltered: "(filtrados desde _MAX_ registros totales)",
        search: "",
        loadingRecords: "Cargando...",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        }
    }
};

  {% if maquinas %}
  let table = new DataTable('#data', dataTableOptions);
  //remove the default 'Search' text for all DataTable search boxes
  $('[type=search]').each(function () {
    $(this).attr("placeholder", "Buscar...");
    $(this).before('<span class="bi bi-search"></span>');
  });
  {% endif %}

</script>
{% endblock js %}
