{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-plus-lg"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
                  {% csrf_token %}
                  {% for field in form.visible_fields %}
                  
                  
                  
                  {% if  field.label == 'Foto del producto'%}
                    <div class="col-md-12">     
                      <div class="form-floating">
                        <input type="file" name="img" accept="image/*" id="id_img" class='form-control'>
                        <label for="floatingName" autofocus>Foto del producto</label>
                      </div>
                    </div>
                  {% else %}
                  <div class="col-md-12">
                          
                    <div class="form-floating">
                      {{ field }}
                      <label for="floatingName" autofocus>{{field.label}}</label>
                    </div>
                  </div>
                  {% endif %}
                            
                      
                  {% endfor %}
                  
                  
                  <div class="text-center">
                    <button type="submit" class="btn bg-warning text-black">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script>
  $(document).ready(function() {
    $('#selectPro').select2({
      theme: "bootstrap-5",
      placeholder:"Seleccione una categoria" 
  });
  });
</script>
{% endblock js %}
