{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="{% url 'lista_productos' %}">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
  <div class="row">
    {% comment %} <div class="col-lg-1"></div> {% endcomment %}
    
    <div class="col-lg-12 d-flex flex-row-reverse">
      <a href="{% url 'lista_baja_categoria' %}" class="btn btn-danger mx-1">
        <b><i class="bi bi-trash"></i> Papelera</b>
      </a>
      <button type="button" class="btn btn-primary btn-large" data-bs-toggle="modal" data-bs-target="#agregarCategoria">
        <b><i class="bi bi-plus-lg"></i> Agregar categoría</b>
      </button>
        
    </div>
    <br>
    <br>
    <div class="modal fade" id="agregarCategoria" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title text-black"><b><i class="bi bi-plus-lg"></i> Agregar categoría</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body mx-4">
            <!--Formulario de Categoria-->
            <form class="row g-3" method="post" autocomplete='off' id='formAdd'>
              <input type="hidden" name="action" value="add">
              {% csrf_token %}
              <div class="form-floating mb-3 mt-4">
                  <input type="text" name="nombre" class="form-control" placeholder="Ingrese nombre " maxlength="50" required="" id="add_nombre">
                  <label for="floatingName" autofocus="">Nombre</label>
              </div>
              <div class="row mb-3 ">
                <label class="col-sm-2 col-form-label d-inline text-white">¿Perece?</label>
                <div class="col-sm-10 d-inline mt-2">
                    <input class="form-check-input" type="checkbox"  name="perecedero" id="up_perece">
                </div>
              </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Cerrar</b></button>
            <button type="submit" class="btn btn-primary text-black"><b>Guardar</b></button>
          </div>
      </form>
      
        </div>
      </div>
    </div>

<div class="modal fade" id="modificarCategoria" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-black"><b> <i class="bi bi-pencil-square"></i> Modificar categoría</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-4">
        <!--Formulario de Categoria-->
        <form class="row g-3" method="post" autocomplete='off' id='formUpdate'>
          <input type="hidden" name="action" value="update">
          <input type="hidden" name="id" value="" class="updateI">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" name="nombre" class="form-control updateI" placeholder="Ingrese nombre " maxlength="50" required="" id="up_nombre">
            <label for="floatingName" autofocus="">Nombre de categoría</label>
        </div>
        <div class="row mb-3 ">
          <label class="col-sm-2 col-form-label d-inline text-white">¿Perece?</label>
          <div class="col-sm-10 d-inline mt-2">
              <input class="form-check-input updateI" type="checkbox"  name="perecedero" id="up_perece">
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
  </form>
  
    </div>
  </div>
</div>

    <div class="col-lg-12">
          
          <!-- Horizontal Form -->

          {% if form.errors %}
          {% for field  in form  %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Notificacion: </strong>{{error}}.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                  </div>
                  {% endfor %}
          {% endfor %}
        {% endif %}
      <br>
      <div class="card table-responsive">
              
        <div class="card-body table-responsive"> 
          <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{titulo}}</h5>
          <hr>
          
          <table class="table bg-black text-white strip rounded mb-4" style="text-align: center" id="data">
              <thead class="bg-warning text-black">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">¿Perece?</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody >
                {% if categorias %} {% for c in categorias %}
                <tr >
                  <td class="text-nowrap">{{forloop.counter}}</td>
                  <td class="text-nowrap">{{ c.nombre }}</td>
                  <td class="text-nowrap"class="display-6">{% if c.perecedero %} <i class="bi bi-check-lg text-success"></i>{% else %}<i class="bi bi-x-lg text-danger"></i>{% endif %}</td>
                  <td class="text-nowrap">
                    <button type="button" class="btn btn-secondary btnUC" data-bs-toggle="modal" data-bs-target="#modificarCategoria">
                      <i class="bi bi-pencil-square iUC"></i>
                    </button>
                    <a class="btn btn-danger" href="#" onclick="eliminarCategoria({{c.id}})">
                      <i class="bi bi-trash btnUM"></i>
                  </a>
                  </td>
                </tr>
            
                {% endfor %} {% else %}
                <td colspan="9" style="text-align: center">
                  <b>No hay datos para mostrar</b>
                </td>
                {% endif %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
    {% comment %} <div class="col-lg-1"></div> {% endcomment %}
  </div>
  
</section>

{% endblock cuerpo %} 
{% block js %}
 


    <Script type="application/javascript" src="{% static 'assets/js/AppInventario/Producto/listCategoria.js' %}"></Script>
    <script>
      const dataTableOptions = {
        //scrollX: "400px",
        lengthChange: false,
        filter:[
          { className: "form-control"},
        ],
        lengthMenu: [5, 10, 15, 20, 100, 200, 500],
        columnDefs: [
            { className: "text-center", targets: [0, 1, 2,3] },
            { orderable: false, targets: [2,3] },
            { searchable: false, targets: [0,2,3] },
            //{ width: "5%", targets: [0] }
        ],
        pageLength: 5,
        destroy: true,
        language: {
            lengthMenu: "Mostrar _MENU_ registros por página",
            zeroRecords: "Ningún producto encontrado",
            info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
            infoEmpty: "Ningúna categoría encontrada",
            infoFiltered: "(filtrados desde _MAX_ registros totales)",
            search: "",
            loadingRecords: "Cargando...",
            paginate: {
                first: "Primero",
                last: "Último",
                next: "Siguiente",
                previous: "Anterior"
            }
        }
    };
    
    {% if categorias %}
      let table = new DataTable('#data', dataTableOptions);
      //remove the default 'Search' text for all DataTable search boxes
      $('[type=search]').each(function () {
        $(this).attr("placeholder", "Buscar...");
        $(this).before('<span class="bi bi-search"></span>');
      });
    {% endif %}
    </script>
{% endblock js %}

