{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
         
          <div class="col-lg-12 d-flex flex-row-reverse">
            <a href="{% url 'lista_bajas_productos' %}" class="btn btn-danger">
              <b><i class="bi bi-trash"></i> Papelera</b>
            </a>
            <a href="{% url 'crear_producto' %}" class="btn btn-primary mx-1">
              <b><i class="bi bi-plus-lg"></i> Nuevo producto</b>
            </a>
            
            <br>
        </div>
          <br>
          <br>
          <div class="col-lg-12">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <div class="card">
              
              <div class="card-body"> 
                <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{titulo}}</h5>
                <hr>
                
                <table class="table bg-black text-white strip rounded mb-4" style="text-align: center" id="data">
                    <thead class="bg-warning text-black">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">P.V</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if productos %} {% for p in productos %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.precio_venta }}</td>
                        <td>{{ p.cantidad }}</td>
                        <td>{{ p.categoriaP }}</td>
                        <td>
                            <img src="{{p.get_image}}" class="img-fluid d-block mx-auto" style="width: 70px; height:70px; border-radius: 20px;">
                        </td>
                        
                        <td>
                          <a type="button" class="btn btn-primary" href="{%url 'actualizar_producto' p.id %}">
                            <i class="bi bi-eye"></i>
                          </a>
                          <a type="button" class="btn btn-secondary" href="{%url 'actualizar_producto' p.id %}">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          
                          
                          <a type="button" class="btn btn-danger" href="#" onclick="eliminarProducto({{p.id}})">
                              <i class="bi bi-trash btnUM"></i>
                          </a>
                        </td>
                      </tr>
                  
                      {% endfor %} {% else %}
                      <td colspan="9" style="text-align: center">
                        <b>No hay datos para mostrar</b>
                      </td>
                      {% endif %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script>
  function eliminarProducto(id){
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-primary',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
    
    swalWithBootstrapButtons.fire({
      title: '¿Seguro que desea eliminar el producto?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Confirmar!',
      cancelButtonText: 'Cancelar!',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        
        window.location.href = "EliminarProducto/"+id+"/"
      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Operacion cancelada',
          'El producto no se ha eliminado  :)',
          'error'
        )
      }
    })
  }
  {% if productos %}
  let table = new DataTable('#data', {
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
      },
      responsive: true,
  });
  {% endif %}
</script>
{% endblock js %}
