{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="{% url 'lista_productos' %}">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-12 d-flex">
            <a href="{% url 'lista_productos' %}" class="btn btn-primary">
              <b><i class="bi bi-arrow-left"></i> Regresar</b>
            </a>  
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                
                <!-- Horizontal Form -->

             
            <br>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-warning"><i class="bi bi-pencil-square"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
                  {% csrf_token %}
                  
                  {% for field in form.visible_fields %}
                  
                  
                 
                  {% if  field.label == 'Foto'%}
                    <div class="col-md-12">     
                      <div class="form-floating">
                        <input type="file" name="img" accept="image/*" id="id_img" class='form-control' value="{{obj.img.url}}">
                        <label for="floatingName">Foto</label>
                      </div>
                    </div>
                    <div class="col-md-12 align-top">     
                      <div class="form-floating align-top">
                        <img src="{{object.get_image}}" class="img-fluid d-block mx-auto align-top" style="width: 100px; height:100px; border-radius: 20px;">
                        <label for="floatingName" class="text-white align-top">Foto actual:</label>
                      </div>
                    </div>
                  {% else %}
                    
                      <div class="col-md-{% if field.label == 'Precio de venta' or field.label == 'Cantidad mínima'  %}6{% else %}12{% endif %}">
                    
                          
                        <div class="form-floating">
                          {{ field }}
                          <label for="floatingName" autofocus>{{field.label}}</label>
                        </div>
                      </div>
                  {% endif %}
                  {% endfor %}
                  
                  
                  <div class="text-center">
                    <button type="submit" class="btn bg-warning text-black">Guardar</button>
                    <a href="{% url 'lista_productos' %}" class="btn btn-secondary">
                      Cancelar
                   </a>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script>
  //Codigo para autocompletar SELECT
  $(document).ready(function() {
    $('#selectPro').select2({
      theme: "bootstrap-5",
      placeholder:"Seleccione una categoria",
      selectOnClose: true,
  });
  });
  {% if form.errors %}
      // Crear una lista para almacenar los mensajes de error
      var errorMessages = [];

      {% for field in form %}
      {% for error in field.errors %}
      
          // Agregar cada mensaje de error junto con el nombre del campo a la lista
          errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
        
      {% endfor %}
  {% endfor %}

      // Comprobar si hay mensajes de error
      if (errorMessages.length > 0) {
          // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          swalWithBootstrapButtons.fire({
              icon: 'error',
              title: 'Datos incorrectos en los siguientes campos:',
              html: errorMessages.join('<br>'),
          });
      }
 
{% endif %}
</script>
{% endblock js %}
