{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="#">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-6 d-flex">
            <a href="{% url 'lista_proveedor' %}" class="btn btn-primary">
              <b><i class="bi bi-arrow-left"></i> Regresar</b>
            </a>  
        </div>
        <div class="col-lg-6 d-flex flex-row-reverse">
          <div class="col-lg-6 d-flex flex-row-reverse">
            <a href="#" class="btn btn-outline-dark mx-1" id="ayuda" onclick="tour ()">
              <b><i class="bi bi-info-circle"></i> Ayuda</b>
            </a>  
        </div>
        </div>
        <br>
          <div class="col-lg-3"></div>
          <div class="col-lg-6">             
              
              <br>
          
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-warning"><i class="bi bi-plus-lg"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data" action='.'>
                  {% csrf_token %}
                  {% for field in form.visible_fields %}
                  
                      <div class="col-md-12">
                          
                        <div class="form-floating" id="{{field.name}}">
                          {{ field }}
                          <label for="floatingName" autofocus>{{field.label}}</label>
                        </div>
                      </div>
                  {% endfor %}
                  
                  <div class="text-center">
                    <button type="submit" id="guardar" class="btn bg-warning text-black">Guardar</button>
                    <a href="{% url 'lista_proveedor' %}" class="btn btn-secondary">
                       Cancelar
                    </a>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script>
 IMask(
  document.getElementById('tel'),
  {
    mask: [
      {
        mask: "[0000]-[0000]"
      }
      
    ]
  }
)
</script>
<script>
  //-------------------------------Funcion de ayuda--------------------------------------
  const driver = window.driver.js.driver;
  function tour() {
  const driverObj = driver({
    popoverClass: 'driverjs-theme',
    nextBtnText: 'Siguiente',
    prevBtnText: 'Anterior',
    doneBtnText: 'Completado',
    showButtons: [
      'next',
      'previous',
      'done'
    ],
    steps: [
    { popover: { title: '¡Hola! 😊', description: 'Bienvenido al tour guiado por la sección de miembros del gimnasio. Aquí te explicaré todas las funciones disponibles y resolveré cualquier duda que puedas tener. ¡Empecemos!' } },
    { element: '#nombre', popover: { title: 'Nombre 🧑‍🦰', description: 'En este campo puede ingresar el nombre del proveedor.', side: 'left', align: 'start' }},
  
    { element: '#telefono', popover: { title: 'Contacto 📲', description: 'En este campo puede ingresar número de contacto en formato 2372-0802.', side: 'left', align: 'start' }},
    { element: '#correo', popover: { title: 'Correo 📃', description: 'En este campo puede ingresar un correo electrónico, debe usar un @.', side: 'left', align: 'start' }},
    { element: '#direcccion', popover: { title: 'Dirección  🗺️', description: 'Puede agregar una dirección para tener una mejor información.', side: 'left', align: 'start' }},
    
    { element: '#guardar', popover: { title: 'Guardar 💾', description: 'Al dar click en guardar se registran los datos.', side: "right", align: 'start' }},
    { popover: { title: '¡Fin del tour! 😁', description: 'Espero que esta presentación sea la que estás buscando. Puedes ver el tour las veces que gustes 😊' }}
    ]
  });
  
  driverObj.drive();
  }
  </script>
{% endblock js %}