{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}   {{modulo}}   {% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
<section class="section">
    
        <div class="row">
          <div class="col-lg-12 d-flex">
            <a href="{% url 'lista_miembros' %}" class="btn btn-primary">
              <b><i class="bi bi-arrow-left"></i> Regresar</b>
            </a>  
        </div>
        
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
              {% if user_form.errors %}
              {% for field  in form  %}
                      {% for error in field.errors %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong>Notificacion: </strong>{{error}}.
                          <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                      </div>
                      {% endfor %}
              {% endfor %}
            {% endif %}
              <br>
            <p class="mt-0">Los campo con (<span class="text-danger">*</span>) son campos obligatorios.</p>     
            <div class="card mt-0">
              
              <div class="card-body">
                <h5 class="card-title text-warning"><i class="bi bi-plus-lg"></i> {{titulo}}</h5>
                
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data">
                  
                           
                    {% csrf_token %}
                    
                        {% for field in user_form.visible_fields %}
                        {% if field.name != 'password1' and field.name != 'password2' and field.name != 'username' and field.name != 'rol' and field.name != 'empresa' %}
                            
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ field }}
                                    <label for="floatingName" autofocus>{{ field.label }}{% if field.name %}<span class="text-danger"> *</span>{% endif %}</label>
                                </div>
                            </div>
                           
                        {% endif %}
                    {% endfor %}
                    


                    {% for field in form.visible_fields %}
                        {% if field.name != 'rol' %}
                            <div class="col-md-{% if field.label == 'Nombre' or field.label == 'Dirección' or field.name == 'foto'  %}12{% endif %}{% if field.label != 'Nombre' and field.label != 'Dirección' %}6{% endif %}">
                              {% if  field.name == 'foto'%}
                                 
                                <div class="form-floating">
                                  <input type="file" name="foto" accept="image/*" id="id_img" class='form-control'>
                                  <label for="floatingName" autofocus>Foto</label>
                                </div>
                              
                        
                             {% else %}
                                <div class="form-floating">
                                {{ field }}
                                <label for="floatingName" autofocus>{{field.label}}{% if field.name == 'fecha_nac' or field.name == 'genero' %}<span class="text-danger"> *</span>{% endif %}</label>
                                </div>
                                {% endif %}
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                  
        
                  <div class="text-center">
                    <button type="submit" class="btn bg-warning text-black">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                  </div>
                </form><!-- End floating Labels Form -->
  
              </div>
              
            </div>
  
          </div>
          <div class="col-lg-3"></div>
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script>
  
 IMask(
  document.getElementById('tel'),
  {
    mask: [
      {
        mask: "[0000]-[0000]"
      }
      
    ]
  }
)
IMask(
  document.getElementById('telContact'),
  {
    mask: [
      {
        mask: "[0000]-[0000]"
      }
      
    ]
  }
)

{% if form.errors %}
// Crear una lista para almacenar los mensajes de error
var errorMessages = [];

{% for field in form %}
{% for error in field.errors %}
    // Agregar cada mensaje de error junto con el nombre del campo a la lista
    errorMessages.push("{{ field.label|escapejs }}: " + "{{ error|escapejs }}".toLowerCase());
{% endfor %}
{% endfor %}

// Comprobar si hay mensajes de error
if (errorMessages.length > 0) {
    // Utilizar SweetAlert para mostrar todos los mensajes de error en una sola alerta
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-primary',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
    swalWithBootstrapButtons.fire({
        icon: 'error',
        title: 'Datos incorrectos en los siguientes campos:',
        html: errorMessages.join('<br>'),
    });
}

{% endif %}


</script>
{% endblock js %}
