{% extends 'layout/index.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="{% url 'lista_miembros' %}">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo}}   {% endblock tituloS %}
{% block cuerpo %}
{% comment %} ------------MODAL VER PRODUCTO-----------------{% endcomment %}
<div class="modal fade" id="verProducto" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-black" id="exampleSideModal2"><b>Información del miembro</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="{% static "assets/img/profile-2.jpg" %}" class="img-fluid verP imgCard" alt="Hollywood Sign" style="border-radius: 20px;">
              <a href="#!">
               
              </a>
            </div>
          </div>

          <div class="col-md-6 mb-4 text-white">
            <strong><p id='nombreM' class='verP text-warning'></p></strong>
            <p><strong>Edad: </strong><span id='edadM' class="verP text-white"></span></p>
            <p><strong>Género: </strong> <span id='generoM' class="verP text-white"></span></p>
            <p><strong>Correo: </strong> <span id='correoM' class="verP text-white"></span></p>
            <p><strong>Contácto de emergencia: </strong> <span id='contactoEM' class="verP text-white"></span></p>
            <p><strong>Membresía: </strong> <span id='membresiaM' class="verP badge bg-success"></span> <span id='categoriaP' class="verP  text-white"></span></p>
            <p>
              <strong>Dirección:</strong>
              <span id='descripcionP' class="verP text-white"></span>
            </p>
            <p>
              <strong>Teléfono:</strong>
              <span id='descripcionP' class="verP text-white"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><b>Cerrar</b></button>
      </div>
  </form>
  
    </div>
  </div>
</div>


{% comment %} ------------MODAL VER PRODUCTO----------------- {% endcomment %}

{% comment %} ------------MODAL ASIGNAR MEMBRESIA-----------------{% endcomment %}
<div class="modal fade" id="asignarM" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="pricing6 py-3 ">
          <div class="container"> 
            
            <div class="row justify-content-center">
              {% if membresias %}
              <div class="col-md-8 text-center text-white">
                <h3 class="mb-3 text-warning">Asigna una membresía</h3>
                <h6 class="subtitle font-weight-normal">Estas son las membresías disponibles</h6>
              </div>
            </div>
            <!-- row  -->
            <div class="row mt-4">
              <input type="text" value="" id="usernameId" hidden>
               {% for m in membresias %}
              <!-- column  -->
              <div class="col-md-6">
                <div class="card card-shadow bg-warning border-0 mb-4">
                  <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                      <h5 class="font-medium m-b-0"><strong>{{m.nombre}}</strong></h5>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <div class="price-box my-3">
                          <sup>$</sup><span class="text-dark display-5">{{m.precio|floatformat:"-2"|replace_comma }}</span>
                          <h6 class="font-weight-light">{{m.duracion}} meses</h6>
                          <a class="btn btn-dark-moon btnAsignar border-0 font-14 text-white p-3 btn-block mt-3" href="#">Seleccionar </a>
                          <input type="text" class="idM" value="{{m.id}}" id="membresiaId{{forloop.counter}}" hidden>
                        </div>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </div>
              <!-- column  -->
              {% endfor %}
              {% else %}
                 <!-- column  -->
              <div class="col-md-12">
                <div class="card card-shadow bg-black border-0 mb-4">
                  <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                     
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <div class="price-box my-3">
                         
                          <h5 class="font-weight-light text-white"><strong>¡Ups, no hay membresías registradas!</strong></h5>
                          <a class="btn btn-danger border-0 font-14 text-white p-3 btn-block mt-3" href="{% url "crear_membresia" %}"><i class="bi bi-arrow-right"></i> Ir a registrar membresía</a>
                          
                        </div>
                      </div>
                      
                    </div>

                  </div>
                </div>
              </div>
              <!-- column  -->

              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><b>Cerrar</b></button>
      </div>
  </form>
  
    </div>
  </div>
</div>


{% comment %} ------------MODAL ASIGNAR MEMBRESIA----------------- {% endcomment %}

<section class="section">
        <div class="row">
          
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
          <div class="col-lg-12 d-flex flex-row-reverse">
            <a href="#" class="btn btn-outline-dark mx-1" id="ayuda" onclick="tour ()">
              <b><i class="bi bi-info-circle"></i> Ayuda</b>
            </a> 
            <a href="{% url 'bajas_miembros' %}" class="btn btn-danger mx-1" id='papelera'>
              <b><i class="bi bi-trash"></i> Papelera</b>
            </a>
            <a href="{% url 'crear_miembro' %}" class="btn btn-primary mx-1" id='nuevo'>
              <b><i class="bi bi-plus-lg"></i> Nuevo miembro</b>
            </a>
            
        </div>
          <br>
          <br>
          <div class="col-lg-12">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <div class="card recent-sales overflow-auto">
              
              <div class="card-body table-responsive"> 
                <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{titulo}}</h5>
                <hr>
                
                <table class="table bg-black text-white strip rounded mb-4" style="text-align: center" id="data">
                    <thead class="bg-warning text-black">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="d-none d-md-table-cell">Correo</th>
                        <th scope="col">Membresía</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if miembros %} {% for m in miembros %}
                      <tr>
                        <td class="text-nowrap"style="vertical-align: middle;">{{forloop.counter}}</td>
                        <td class="text-nowrap"style="vertical-align: middle;">{{ m.user.first_name }} {{ m.user.last_name }}</td>
                        <td class="text-nowrap"style="vertical-align: middle;">{{ m.user.email }}</td>
                        <td class="text-nowrap"style="vertical-align: middle;">
                          {% if m.estado_membresia == 0 %}
                            <span class="badge bg-danger">No asignada</span>
                          {% elif m.estado_membresia == 1 %}
                            <span class="badge bg-success">ACTIVA</span>
                          {% else %}
                            <span class="badge bg-danger">VENCIDA</span>
                          {% endif %}
                        </td>
                            
                        
                        
                        <td class="text-nowrap" style="vertical-align: middle;">
                          
                          <button type="button" class="btn btn-primary btnVP" data-bs-toggle="modal" data-bs-target="#verProducto" title="Ver informacion">
                            <i class="bi bi-eye iVP"></i>
                          </button>
                          
                        <a class="btn btn-dark" href="#" data-bs-toggle="dropdown" id='menu-opciones' aria-expanded="false"><i class="bi bi-card-checklist"></i>
                          <i class="dropdown-toggle"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="">
                          <li id='actualizar'><a class="dropdown-item" href="{% url "actualizar_miembro" m.id %}"><strong><i class="bi bi-pencil-square"></i> Actualizar datos</a></strong></li>
                          <li class="liAM"><a class="dropdown-item aAM" href="#" data-bs-toggle="modal" data-bs-target="#asignarM"><strong class="btnAM"><i class="bi bi-person-lines-fill iAM"></i> Asignar membresía</a></strong></li>
                          <li><a class="dropdown-item text-danger" href="#" onclick="eliminarMiembro({{m.id}},'{{m.user.first_name}}')"><strong><i class="bi bi-trash btnUM"></i> Eliminar miembro</a></strong></li>
                        </ul>
                         
                         
                        </td>
                      </tr>
                  
                      {% endfor %} {% else %}
                      <td colspan="9" style="text-align: center">
                        <b>No hay datos para mostrar</b>
                      </td>
                      {% endif %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
  const dataTableOptions = {
    //scrollX: "400px",
    lengthChange: false,
    filter:[
      { className: "form-control"},
    ],
    lengthMenu: [5, 10, 15, 20, 100, 200, 500],
    columnDefs: [
        { className: "text-center", targets: [0, 1, 2, 3, 4] },
        { orderable: false, targets: [ 4] },
        { searchable: false, targets: [4] },
        //{ width: "5%", targets: [0] }
    ],
    pageLength: 5,
    destroy: true,
    language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "Ningún producto encontrado",
        info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
        infoEmpty: "Ningún miembro encontrado",
        infoFiltered: "(filtrados desde _MAX_ registros totales)",
        search: "",
        loadingRecords: "Cargando...",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        }
    }
};

  {% if miembros %}
  let table = new DataTable('#data', dataTableOptions);
  //remove the default 'Search' text for all DataTable search boxes
  $('[type=search]').each(function () {
    $(this).attr("placeholder", "Buscar...");
    $(this).before('<span class="bi bi-search"></span>');
  });
  {% endif %}
});


//-------------------------------Funcion de ayuda--------------------------------------
const driver = window.driver.js.driver;
function tour() {
const driverObj = driver({
  popoverClass: 'driverjs-theme',
  nextBtnText: 'Siguiente',
  prevBtnText: 'Anterior',
  doneBtnText: 'Completado',
  showButtons: [
    'next',
    'previous',
    'done'
  ],
  steps: [
  { popover: { title: '¡Hola! 😊', description: 'Bienvenido al tour guiado por la sección de miembros del gimnasio. Aquí te explicaré todas las funciones disponibles y resolveré cualquier duda que puedas tener. ¡Empecemos!' } },
  { element: '#nuevo', popover: { title: 'Nuevo Miembro ➕', description: 'Haz clic en este botón para agregar un nuevo miembro al gimnasio.', side: 'left', align: 'start' }},
  { element: '#papelera', popover: { title: 'Papelera de Miembros 🗑️', description: 'Este botón te llevará a la papelera de miembros. Aquí podrás ver y restaurar miembros que hayan sido dados de baja previamente.', side: 'bottom', align: 'start' }},
  { element: '.table-responsive', popover: { title: 'Listado de Miembros 🏋️', description: 'En esta tabla se muestra información detallada de todos los miembros del gimnasio.', side: 'in', align: 'start' }},
  { element: '#data_filter', popover: { title: 'Buscar 🔍', description: 'Utiliza este campo para escribir y filtrar información específica de los miembros en la tabla.', side: 'left', align: 'start' }},
  { element: '.sorting', popover: { title: 'Ordenar Datos 🔄', description: 'Haz clic en los encabezados de la tabla para ordenar la información de los miembros.', side: 'right', align: 'start' }},
  { element: '.btnVP', popover: { title: 'Ver Detalles 👁️‍🗨️', description: 'Al hacer clic en este botón, podrás ver información detallada de cada miembro y verificar el estado de su membresía.', side: 'right', align: 'start' }},
  { element: '#menu-opciones', popover: { title: 'Opciones Miembro ⚙️', description: 'Este botón despliega opciones para actualizar datos, asignar membresía y dar de baja a un miembro.', side: 'right', align: 'start' }},
  { element: '#data_info', popover: { title: 'Información del Listado 📊', description: 'Aquí se muestra la cantidad total de miembros y cuántos están siendo visualizados actualmente.', side: 'right', align: 'start' }},
  { element: '#data_paginate', popover: { title: 'Páginas 📄➡️', description: 'Navega entre las páginas para ver diferentes conjuntos de miembros en el listado.', side: 'left', align: 'start' }},
  { popover: { title: '¡Fin del tour! 😁', description: 'Espero que esta presentación sea la que estás buscando. Puedes ver el tour las veces que gustes 😊' }}
  ]
});

driverObj.drive();
}

</script>
<Script type="application/javascript" src="{% static 'assets/js/AppControlDeClientes/Miembro/listMiembro.js' %}"></Script>

{% endblock js %}
