{% extends 'layout/index.html' %}
{% load static %}
{% block titulo %}   {{titulo}}   {% endblock titulo %}
{% block tituloP %}  {{titulo}}   {% endblock tituloP %}
{% block modulo %}
  <a href="#">   
    {{modulo}}
  </a>   
{% endblock modulo %}
{% block tituloS %}  {{titulo2}}   {% endblock tituloS %}
{% block cuerpo %}

<section class="section">
    
        <div class="row">
         
          <br>
          <br>
          <div class="col-lg-12">
                
                <!-- Horizontal Form -->

                {% if form.errors %}
                {% for field  in form  %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Notificacion: </strong>{{error}}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                        </div>
                        {% endfor %}
                {% endfor %}
              {% endif %}
            <br>
            <div class="card recent-sales overflow-auto">
              
              <div class="card-body table-responsive"> 
                <h5 class="card-title text-warning"> <i class="bi bi-list-task"></i> {{titulo2}}</h5>
                <hr>
                
                <table class="table bg-black text-white strip rounded mb-4" style="text-align: center" id="data">
                  <thead class="bg-warning text-black">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if asistencias %} {% for a in asistencias %}
                      <tr data-id="{{ h.id }}">
                        <td class="text-nowrap" style="vertical-align: middle;">{{forloop.counter}}</td>
                        <td class="text-nowrap">
                          <img src="{% if a.miembro %}{{a.miembro.get_image}}{% else %}/static/assets/img/no-photo.jpg{% endif %}" class="img-fluid d-block mx-auto" style="width: 70px; height:70px; border-radius: 20px;">
                      </td>
                        <td class="text-nowrap" style="vertical-align: middle;">{% if not a.miembro %}{{a.nombre}}{% else %}{{a.miembro.user.first_name}} {{a.miembro.user.last_name}}{% endif %}</td>
                        <td class="text-nowrap" style="vertical-align: middle;">{{ a.fecha_created.date }}</td>
                        <td class="text-nowrap" style="vertical-align: middle;">{{ a.fecha_created|time:'H:i' }}</td>
                        <td class="text-nowrap" style="vertical-align: middle;">
                          <a href="#" onclick="eliminarHistorial({{a.id}})" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                          </a>
                      </tr>
                  
                      {% endfor %} {% else %}
                      <td class="text-nowrap" colspan="9" style="text-align: center">
                        <b>No hay datos para mostrar</b>
                      </td>
                      {% endif %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-1"></div> {% endcomment %}
        </div>
        
      </section>



{% endblock cuerpo %}
{% block js %}
<script type="application/javascript" src="{% static 'assets/js/AppControlDeClientes/Asistencia/historialAsistencia.js' %}"></script>
<script>
  const dataTableOptions = {
    //scrollX: "400px",
    lengthChange: false,
    filter:[
      { className: "form-control"},
    ],
    lengthMenu: [5, 10, 15, 20, 100, 200, 500],
    columnDefs: [
        { className: "text-center", targets: [0, 1, 2, 3, 4, 5] },
        { orderable: false, targets: [1, 5] },
        { searchable: false, targets: [0, 1, 5] },
        //{ width: "5%", targets: [0] }
    ],
    pageLength: 5,
    destroy: true,
    language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "Ninguna máquina encontrada",
        info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
        infoEmpty: "Ningún usuario encontrado",
        infoFiltered: "(filtrados desde _MAX_ registros totales)",
        search: "",
        loadingRecords: "Cargando...",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        }
    }
};

  {% if asistencias %}
  let table = new DataTable('#data', dataTableOptions);
  //remove the default 'Search' text for all DataTable search boxes
  $('[type=search]').each(function () {
    $(this).attr("placeholder", "Buscar...");
    $(this).before('<span class="bi bi-search"></span>');
  });
  {% endif %}

</script>
{% endblock js %}
